---
title: "Portfolio"
permalink: /portfolio/
author_profile: true


truman:
  - url: /assets/images/truman.jpg
    image_path: /assets/images/truman.jpg
    alt: "Masks"
    title: Masks, a proof of concept that asks people to identify characters based on personality traits.
  - url: /assets/images/parasocial_influencer.jpg
    image_path: /assets/images/parasocial_influencer.jpg
    alt: "Parasocial"
    title: Parasocial, a small experiment on how people respond to an influencer-like character.
tos:
  - url: /assets/images/tos_highlight.jpg
    image_path: /assets/images/tos_highlight.jpg
    alt: "Highlighting"
    title: "The first part uses a crowd-sourced sentiment heatmap to highlight important sentences."
  - url: /assets/images/tos_popup.jpg
    image_path: /assets/images/tos_popup.jpg
    alt: "Popup"
    title: "The second part uses pop-up sentences that allow the user to alter their account in the terms of service."
  - url: /assets/images/recog.jpg
    image_path: /assets/images/recog.jpg
    alt: "Recognition Questions"
    title: "We asked both recognition and recall questions to check people's memory of the ToS"
---

<p class="has-text-align-center"><strong>Projects in Computational Media</strong></p>

<h3>Truman Social Media Projects</h3>
<p>I built simulated social media spaces for this series of projects, where the user is the only real person in the space. </p>
<p>The first is called Masks. Based on research on how people exhibit OCEAN traits on social media, I've attempted to create personas for each pole of OCEAN traits. The goal of the simulation is to identify which users have which "masks".<p>
<p>The second is called Parasocial. It is a short experiment, using research on how people form parasocial relationships with social media users, to create two versions of a character named Kelly. One version acts more like an influencer, while the other is more authentic. Users of this system read posts from Kelly and note their reactions using a survey.<p>
{% include gallery id="truman" caption="Example Truman Spaces" %}
<p>Click if you want to try <a href="https://truman.herokuapp.com/">Masks</a> or <a href="https://parasocial-truman.herokuapp.com/">Parasocial</a> yourself!</p>

<h3>Terms of Service</h3>
<p>Terms of Service are notoriously long, boring, and difficult to read. The goal of this project is to investigate interactive ways for people to quickly read and understand Terms of Service documents.  The second part uses pop-up sentences that allow the user to alter their account in the Terms of Service.  Click a picture to see an example!</p>

{% include gallery id="tos" caption="Highlighting, Popup, and Recognition Questions" %}

<ul>
  <li>See examples of sentiment highlighting on 4 different Terms of Service documents!</li>
  <li><a href="/static/facebook.html">Friendr</a>, <a href="/static/google.html">Hooli</a>, <a href="/static/amazonprimevideo.html">Acme Streaming</a>, <a href="/static/lyft">Ryde</a></li>
  <li>And a video of popup <a href="assets/images/popup_demo.mp4">here</a></li>
</ul>

<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://leetaber.matomo.cloud/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src='//cdn.matomo.cloud/leetaber.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
